:root {
	--size-bank: 7.5rem;
	--size-container: 35rem;

	--font-size-title: 2.125rem;
	--font-size-bank: 1.375rem;

	--font-weight-bank: 500;

	--color-text: hsl(0, 0%, 100%);
	--color-shadow: hsl(0, 0%, 0%);
	--color-shadow-card-primary: #8dff0f;
	--color-shadow-card-secondary: #0fddff;
	--color-button-bet: hsl(120, 100%, 1%);
	--color-bg-primary: hsla(120, 98%, 19%, 0.960);
	--color-bg-secondary: hsl(120, 100%, 5%, 0.960);
	--color-bet-button: hsl(110, 72%, 28%);
}

body {
	color: var(--color-text);
	font-family: 'Eczar', serif;
}

.background__texture {
	background-image: url("/img/texture.png");
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.board {
	background: radial-gradient(circle, var(--color-bg-primary) 0%, var(--color-bg-secondary) 100%) no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	z-index: 2;
}

.board__title {
	text-transform: uppercase;
	font-size: var(--font-size-title);
}

.board__cards {
	display: flex;
	justify-content: space-around;
	width: var(--size-container);
	flex-wrap: wrap;
	max-width: 100vw;
}
.board__cards :last-child {
	margin-top: -5em;
}

.board__card {
	position: relative;
	width: 10.45em;
	height: 15.25em;
}

.board__card::after {
	content: "";
	transform: scale(0.75);
	background: linear-gradient(270deg, var(--color-shadow-card-primary), var(--color-shadow-card-secondary));
	filter: blur(5vw);
	position: absolute;
	top: 1.5vw;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.board__card--undefined {
	background: url(../img/cards_sprites-min.png)  -20.95em 15.2em;
}
.board__card--2 {
	background: url(../img/cards_sprites-min.png) -10.5em 0;
}

.board__card--3 {
	background: url(../img/cards_sprites-min.png) -20.95em 0;
}

.board__card--4 {
	background: url(../img/cards_sprites-min.png) -31.4em 0;
}

.board__card--5 {
	background: url(../img/cards_sprites-min.png) -41.85em 0;
}

.board__card--6 {
	background: url(../img/cards_sprites-min.png) -52.32em 0;
}

.board__card--7 {
	background: url(../img/cards_sprites-min.png) 73.3em 0;
}

.board__card--8 {
	background: url(../img/cards_sprites-min.png) -73.3em 0;
}

.board__card--9 {
	background: url(../img/cards_sprites-min.png) 52.32em 0;
}

.board__card--10 {
	background: url(../img/cards_sprites-min.png) 41.85em 0;
}

.board__card--Knave {
	background: url(../img/cards_sprites-min.png) 31.4em 0;
}

.board__card--Queen {
	background: url(../img/cards_sprites-min.png) 20.95em 0;
}

.board__card--King {
	background: url(../img/cards_sprites-min.png) 10.5em 0;
}

.board__card--As {
	background: url(../img/cards_sprites-min.png) 0 0;
}

.bank {
	font-size: var(--font-size-bank);
	font-weight: var(--font-weight-bank);
	text-align: center;
}

.bet__form {
	display: none;
}

.bet__play--again {
	display: none;
}

@media (min-width: 768px) {
	.board__cards :nth-child(2n) {
		order: 1
	}

	.board__bet {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
	}

	.bank {
		order: 1;
		text-align: left;
		width: 95%;
	}
}
